<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aaa.service.CompanyMapper">
	
	<select id="mypage" resultType="cDTO" parameterType="cDTO">
		select * from company 
	</select>
	
	<select id="detail" resultType="cDTO" parameterType="Integer">
		select * from board where id = #{id}
	</select>








</mapper>