<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aaa.service.MCompanyMapper">


<insert id="insertCompany" parameterType="mcDTO">
    INSERT INTO company (cid, cpw, cname, cbuild, ccategory, cstaff, csales, ccall, cceo, caddress, ccompanyFile, ccontent, ctype, cbcnt)
    VALUES (
        #{cid},#{cpw},#{cname},#{cbuild},#{ccategory},#{cstaff},#{csales},#{ccall},#{cceo},#{caddress},#{ccompanyFile},
        #{ccontent},#{ctype},0
    )
</insert>

<select id="loginCompany" resultType="int">
    select count(*) from company where cid = #{userid} and cpw = #{userpw}
</select>

<select id="idChk" resultType="int">
    select count(*) from company where cid = #{cid}
</select>

<select  id="deatilCompany">
	select * from company where cid = #{userid}
</select>

</mapper>