<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aaa.service.PayMapper">

	<select id="list" resultType="payDTO">
		select * from payment order by pay_id desc
	</select>
	<select id="detail" resultType="payDTO" parameterType="String">
		select * from payment where imp_uid = #{impUid}
	</select>
	
	<!-- imp_uid로 검색해서 일치하는 id 가져오기 -->
    <select id="idget" resultType="String">
        select 
            CASE 
                WHEN cid IS NOT NULL AND cid != '' THEN cid
                WHEN sid IS NOT NULL AND sid != '' THEN sid
                Else ''
            END AS result
        from payment where imp_uid = #{impUid}
    </select>
    
    <!-- sid로 imp_uid 리스트 가져오기 -->
	<select id="impuidbys" parameterType="String" resultType="String">
	    SELECT imp_uid
	    FROM payment
	    WHERE sid = #{sid}
	    order by DATE(paid_at) desc
	</select>
	<!-- cid로 imp_uid 리스트 가져오기 -->
	<select id="impuidbyc" parameterType="String" resultType="String">
	    SELECT imp_uid
	    FROM payment
	    WHERE cid = #{cid}
   	    order by DATE(paid_at) desc
	</select>
	
	<!-- 일자별 결제 금액 합산 쿼리 -->
	<select id="dailytotal" resultType="java.util.Map">
	    SELECT DATE(paid_at) as date, SUM(amount) as totalAmount
	    FROM payment
	    GROUP BY DATE(paid_at)
	    ORDER BY DATE(paid_at)
	</select>
	
	<!-- 개인아이디별 결제 금액 합산 쿼리 -->
	<select id="totalbys" resultType="java.util.Map">
	    SELECT sid, SUM(amount) as total
	    FROM payment
	    GROUP BY sid
	    ORDER BY total DESC
	</select>
	<!-- 기업아이디별 결제 금액 합산 쿼리 -->
	<select id="totalbyc" resultType="java.util.Map">
	    SELECT cid, SUM(amount) as total
	    FROM payment
	    GROUP BY cid
	    ORDER BY total DESC
	</select>

	<insert id="insert" parameterType="payDTO">
		insert into payment (sid, cid, imp_uid, merchant_uid, product_id, pname, buyer_name, buyer_tel, amount, paid_at) 
		values (#{sid}, #{cid}, #{impUid}, #{merchantUid}, #{productId}, #{pname}, #{buyerName}, #{buyerTel}, #{amount}, #{paidAt})
	</insert>
	
</mapper>