<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ask/detail</title>
</head>
<body>
<h1>ask/detailㄴ</h1>
	<table border="">
		<tr>
			<td>id</td><td th:text="${askdto.id}"/>
		</tr><tr>
			<td>제목</td><td th:text="${askdto.title}"/>
		</tr><tr>
			<td>작성자</td><td th:text="${askdto.pname}"/>
		</tr><tr>
			<td>등록일</td><td th:text="${askdto.regDate}"/>
		</tr><tr>
			<td>조회수</td><td th:text="${askdto.cnt}"/>
		</tr>
		
		<tr>
			<td>내용</td><td th:text="${askdto.content}"/>
		</tr><tr>
			<td colspan="2" align="right">
				<a th:href="|/ask/delete/${askdto.page}/${askdto.id}|">삭제</a>
				<a th:href="|/ask/modify/${askdto.page}/${askdto.id}|">수정</a>
				<a th:href="|/ask/list/${askdto.page}|">목록으로</a>
				<!--답글-->
				<a th:href="|/ask/reply/${askdto.page}/${askdto.id}|">진짜답글</a>
				
				
			</td>
		</tr>
	</table>
</body>
</html>