<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ask/수정</title>
</head>
<body>

<h2> ask/수정페이지! </h2>

</body>
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:field="*{page}" />

<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}" /></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<!--<tr>
			<td>파일</td>
			<td>
				<th:block th:if="${dto.upfile != null}">
					
				<input type="text" th:field="*{upfile}" readonly/>
				<input  type="button" onclick="fileDelete()" value="파일삭제"/>
				</th:block>
				<input th:if="${dto.upfile == null}" type="file" th:field="*{mmff}"/>
			</td>
		</tr>-->
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />
				<!--<a th:href="|/ask/detail/${askdto.page}/${askdto.id}|" th:text="뒤로"/>-->
			</td>
		</tr>
	</table>-->






</html>