<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>질문게시판</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>
<style>
	
</style>

<body>
<script>
	//뒤로가기
      function goBack() {
         window.history.back();
      }
</script>
	<header>
		<div th:include="header :: header"></div>
	</header>

	<h3>ask / list</h3>
	<br/>
	
	<div>
		<strong style="color: red;">※ 필독 사항</strong><br/>
		1:1 게시판은 개인 정보를 다루는 공간으로, 본인이 작성한 글만 확인 가능합니다. <br/>
		또한, 본인이 작성한 문의글에 관리자 답변이 달린 경우 수정 및 삭제 기능은 지원되지 않습니다.<br/>
		(관리자 답변 이전에는 수정 및 삭제 가능합니다.) <br/>
		참고하여 원활한 사이트 이용 바랍니다. <br/>
		감사합니다.<br/>
		
	</div>
	
	<hr>
	<table border="">
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>등록일</td>
			<td>조회수</td>
		</tr>

		<tr th:each="askdto, dtoStat : ${mainData}">
			<td th:text="${dtoStat.count + askDTO.start}" />
			<td>
				<!--공백이두번-->
				<!--<span th:utext="${'&nbsp;&nbsp;' * askdto.lev}"></span>-->
				<!--공백 한번으로 줄임-->
				<span th:utext="${'&nbsp;' * askdto.lev}"></span>
				<span style="color: red;" th:if="${askdto.lev > 0}">└[RE]</span>
				<a th:href="|/ask/detail/${askDTO.page}/${askdto.id}|" th:text="${askdto.title}"></a>
			</td>
			<!--작성자 클릭 시 회원정보 확인가능-->
			<!--
			<th:block th:if="${session.adminSession}">
    				<a th:href="@{|/admin_solo/detail/${askdto.pname}|}" th:text="${askdto.pname}"></a>
    				<a th:href="@{|/admin_company/detail/${askdto.pname}|}" th:text="${askdto.pname}"></a>
			</th:block>
			<td>
				<a th:href="|/admin_solo/detail/${askdto.pname}|" th:text="${askdto.pname}"></a>
			</td>-->
			<!--원래작성자-->
			<td th:text="${askdto.pname}" />

			<td th:text="${#dates.format(askdto.regDate, 'yyyy-MM-dd')}"></td>

			<td th:text="${askdto.cnt}" />
		</tr>
		<tr th:if="${session.adminSession}">
			<td colspan="5" align="center">

				<a th:if="${askDTO.pageStart > 1}" th:href="${askDTO.pageStart - 1}" th:text="'[이전]'" />

				<th:block th:each="no: ${#numbers.sequence(askDTO.pageStart, askDTO.pageEnd)}">

					<span th:if="${no==askDTO.page}" th:text="${no}" />
					<a th:unless="${no==askDTO.page}" th:href="${no}" th:text="${no}" />
				</th:block>
				<a th:if="${askDTO.pageEnd < askDTO.pageTotal}" th:href="${askDTO.pageEnd + 1}" th:text="'[다음]'" />
			</td>
		</tr>
		<!--기업로그인 > 글쓰기-->
		<td colspan="5" align="right">
			<a th:href="|/ask/insert/${askDTO.page}|" th:if="${session['cid']}">글쓰기</a>
		</td>

		<!-- 개인로그인 > 글쓰기 -->
		<td colspan="5" align="right">
			<a th:href="|/ask/insert/${askDTO.page}|" th:if="${session['solosession']}">글쓰기</a>
		</td>
	</table>
<a href="javascript:goBack()">이전 페이지</a>


	<!--더미데이터-->
	<!--insert into ask (id, title, pname, pw, content, reg_date, cnt, seq, lev, gid)
values
(1,'문의드립니다.','콩쥐','1111','콩쥐네 한정식 채용공고 어딨나요','2023-04-01',0,0,0,1),
(2,'문의드립니다','팥쥐','1111','팥쥐네 한정식 채용공고 어딨나요?','2023-04-01',0,0,0,2),
(3,'문의드립니다','두꺼비','1111','두꺼비 한정식 채용공고 어딨나요?','2023-04-01',0,0,0,3),
(4,'문의드립니다','심청이','1111','심청이 한정식 채용 0명은 몇명 뽑는다는건가요?','2023-04-01',0,0,0,4),
(5,'문의드립니다','심봉사','1111','심봉사 지원했는데 저한테 연락이 안오는데요','2023-04-01',0,0,0,5),
(6, '안녕하세요 관리자님!', '구직자', '1111', '사람인 사이트를 통해 토끼네 한정식의 신규 채용 공고를 확인하려고 합니다. 어떻게 찾을 수 있나요?', '2023-04-01', 0, 0, 0, 6),
(7, '안녕하세요 관리자님!', '구직자', '1111', '사슴네 한정식의 최신 채용 정보를 찾고 있습니다. 어떻게 검색해야 할까요?', '2023-04-02', 0, 0, 0, 7),
(8, '안녕하세요 관리자님!', '구직자', '1111', '호랑이네 한정식의 채용 공고를 확인하려고 합니다. 검색하는 방법을 가르쳐 주세요.', '2023-04-03', 0, 0, 0, 8),
(9, '안녕하세요 오왕 관리자님!', '구직자', '1111', '곰네 한정식의 신규 채용 정보를 찾고 있습니다. 어디서 검색해야 할까요?', '2023-04-04', 0, 0, 0, 9),
(10, '관리자님!', '구직자', '1111', '원숭이네 한정식의 채용 공고를 확인하려면 어떻게 해야 하나요? 도움 부탁드립니다.', '2023-04-05', 0, 0, 0, 10),
(11, '답변입니다.', '관리자', '1111', '콩쥐네 한정식 채용공고는 여기 있습니다.', '2023-04-02', 0, 0, 1, 1),
(12, '답변입니다.', '관리자', '1111', '팥쥐네 한정식 채용공고는 다음과 같습니다.', '2023-04-02', 0, 0, 1, 2),
(13, '답변입니다.', '관리자', '1111', '두꺼비네 한정식 채용공고는 다음과 같습니다.', '2023-04-02', 0, 0, 1, 3),
(14, '답변입니다.', '관리자', '1111', '심청이네 한정식 채용공고는 다음과 같습니다.', '2023-04-02', 0, 0, 1, 4),
(15, '답변입니다.', '관리자', '1111', '심봉사네 한정식 채용공고는 다음과 같습니다.', '2023-04-02', 0, 0, 1, 5),
(16, '답변입니다.', '관리자', '1111', '토끼네 한정식 채용공고 검색 방법은 다음과 같습니다.', '2023-04-02', 0, 0, 1, 6),
(17, '답변입니다.', '관리자', '1111', '사슴네 한정식 채용공고 검색 방법은 다음과 같습니다.', '2023-04-02', 0, 0, 1, 7),
(18, '답변입니다.', '관리자', '1111', '호랑이네 한정식 채용공고 검색 방법은 다음과 같습니다.', '2023-04-02', 0, 0, 1, 8),
(19, '답변입니다.', '관리자', '1111', '곰네 한정식 채용공고 검색 방법은 다음과 같습니다.', '2023-04-02', 0, 0, 1, 9),
(20, '답변입니다.', '관리자', '1111', '원숭이네 한정식 채용공고 검색 방법은 다음과 같습니다.', '2023-04-02', 0, 0, 1, 10);-->





</body>

</html>