<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="admin/adheader"/>
		
	

	<h1>나는 기업 관리요</h1>
	
	
	<h2>기업 가입요청 리스트</h2>
	<a href="/admin_company/list/1">기업 회원 관리</a>
	
	<h2>기업 공고 수정 삭제</h2>
	<a href="/recruit/list/1" target="recruit" style="display: block;">리스트 보기</a>
	<iframe src="/recruit/list/1" frameborder="1" width="1200px" height="600px" name="recruit"> 
	</iframe>
	
	
</body>
</html>