<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<h1>미등록 회원</h1>
	[[${mainData}]]
	
	<table border="">
		<tr>
			<th>번호</th>
			<th>기업페이지</th>
			<th>기업아이디</th>
			
			<th>회원 구분</th>
			<th>간편 수락</th>
			<th>회원 삭제</th>
	
		</tr>
		<tr th:each="dto, dtoStat : ${mainData}">
			<td th:text="${dtoStat.count + MCompanyDTO.start}"/>
			<td >
				<a th:href="|/admin_company/detail/${MCompanyDTO.page}/${dto.cno}|" th:text="${dto.cname}"></a>
			</td>
			<td >
				<a th:text="${dto.cid}"></a>
			</td>
				<td >
			<span th:if="${dto.ctype == 2}" th:text="|유료회원 마감일:${#dates.format(dto.cdate, 'yyyy-MM-dd')}|"></span>
			<span th:unless="${dto.ctype == 2}" th:text="일반회원"></span>
			</td>
		
			<td>
				<a th:href="@{|/admin_company/checkId/${dto.cno}|}" onclick="return confirm('회원가입을 허락하시겠습니까?')" th:text="수락"></a>
			</td>
				<td align="center">
				<a th:href="'/admin_company/delete/' + ${dto.cno}" onclick="return confirm('회원삭제를 진행하시겠습니까?')" th:text="삭제">삭제</a>

			</td>
		</tr>
		<tr>
			<td colspan="6" align="center">
				<!-- 현재값에서 현재값 빼주고 더하기 1한거 -->
				<a th:if="${MCompanyDTO.pageStart > 1}" th:href="${MCompanyDTO.page-MCompanyDTO.page}+1" th:text="'[처음]'"/>
				
				<a th:if="${MCompanyDTO.pageStart > 1}" th:href="${MCompanyDTO.pageStart - 1}" th:text="'[이전]'"/>			
				<th:block th:each="no: ${#numbers.sequence(MCompanyDTO.pageStart, MCompanyDTO.pageEnd)}" >
					<span th:if="${no==MCompanyDTO.page}" th:text="${no}"/>
					<a th:unless="${no==MCompanyDTO.page}" th:href="${no}" th:text="${no}"/>
				</th:block>
				<a th:if="${MCompanyDTO.pageEnd < MCompanyDTO.pageTotal}" th:href="${MCompanyDTO.pageEnd + 1}" th:text="'[다음]'"/>
				<a th:if="${MCompanyDTO.pageEnd < MCompanyDTO.pageTotal}" th:href="${MCompanyDTO.pageTotal}" th:text="'[맨끝]'"/>
			</td>
		</tr>
	
	</table>
</body>
</html>