<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원결제내역</title>
</head>
<body>
   <h1>회원 결제내역</h1>
    <table border="">
        <thead>
            <tr>
                <th>주문번호</th>
                <th>결제상태</th>
                <th>결제일</th>
                <th>상품명</th>
                <th>결제금액</th>
                <th>은행명</th>
                <th>카드명</th>
                <th>카드번호</th>
                <th>가상계좌 은행</th>
                <th>가상계좌 계좌번호</th>
                <th>가상계좌 예금주</th>
                <th>가상계좌 기한</th>
                <!--<th>취소금액</th>-->
<!--                <th>주문자명</th>
                <th>주문자이메일</th>
                <th>주문자연락처</th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="payment : ${paymentData}">
				<td th:text="${payment.merchant_uid}"></td>
				<td th:text="${payment.status}"></td>
				<td th:text="${payment.paid_at}"></td>
				<td th:text="${payment.name}"></td>
				<td th:text="${payment.amount}"></td>
				<td th:text="${payment.bank_name}"></td>
				<td th:text="${payment.card_name}"></td>
				<td th:text="${payment.card_number}"></td>
				<td th:text="${payment.vbank_name}"></td>
				<td th:text="${payment.vbank_num}"></td>
				<td th:text="${payment.vbank_holder}"></td>
				<td th:text="${payment.vbank_date}"></td>
				<!--<td th:text="${payment.cancel_amount}"></td>-->
<!--				<td th:text="${payment.buyer_name}"></td>
				<td th:text="${payment.buyer_email}"></td>
				<td th:text="${payment.buyer_tel}"></td>-->
                <td><a th:href="${payment.receipt_url}">매출전표</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>