<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품안내 및 신청</title>
</head>
<body>
<div>
	개인을 위해서는 리뷰열람권이 있고<br>
	기업을 위해서는 채용공고권이 있습니다.<br>
	둘 다 기간제고요 7일 기준으로 일단 하겠습니당<br>
</div>
<table border="">
	<tr>
		<td>대상</td>
		<td>상품명</td>
		<td>금액</td>
	</tr>
	<tr th:each="dto : ${data}" align="center">
		<td th:text="${dto.productClient}"></td>
		<td th:text="${dto.productName}"></td>
		<td th:text="${dto.productPrice}"></td>
		<th:block th:if="${session.cid != null and dto.productClient == '기업'}">			
		<td><a th:href="|/product/${dto.productId}|">바로가기</a></td>
		</th:block>
		<th:block th:if="${session.sid != null and dto.productClient == '개인'}">			
		<td><a th:href="|/product/${dto.productId}|">바로가기</a></td>
		</th:block>
	</tr>
</table>
</body>
</html>