<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>상품안내 및 신청</title>
<!--iamport.payment.js-->
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script type="text/javascript">
	var IMP = window.IMP;
	IMP.init('imp65726445');	// 회원당 하나씩 부여받은 아이디 넣기
	// 주문번호 생성 예시
    var today = new Date();	// 현재
    var year = String(today.getFullYear() % 100);
    // 날짜를 가져와서 2자리로 만들어 string으로 저장
	var month = String(today.getMonth() + 1).padStart(2, '0');
	var date = String(today.getDate()).padStart(2, '0');
	var hours = String(today.getHours()).padStart(2, '0');
	var minutes = String(today.getMinutes()).padStart(2, '0');
	var seconds = String(today.getSeconds()).padStart(2, '0');
	// 밀리초는 3자리로 만들어 string으로 저장
	var milliseconds = String(today.getMilliseconds()).padStart(3, '0');
	var nowdate = year +  month + date;
	var nowtime = hours + minutes + seconds + milliseconds;
	// 개인회원 s / 기업회원 c
	var member = "c";
	// 상품이 만들어지는 대로 00부터 번호올리기
	var code = "00";
	// 시간 + 개인회원c + 상품코드
	var uidnum = nowdate + nowtime + member + code;
		

    function requestPay(pg, pay_method) {
		var form = document.getElementById("paymentForm");
    
	    var options = {
	        merchant_uid: uidnum,
	        name: form.querySelector("[name=name]").value, // 상품명 입력값
	        amount: parseInt(form.querySelector("[name=amount]").value), // 상품전체가격 입력값
	        buyer_name: form.querySelector("[name=buyer_name]").value,
	        buyer_email: form.querySelector("[name=buyer_email]").value,
	        buyer_tel: form.querySelector("[name=buyer_tel]").value
	    };

		// {===} : 자료형까지 동일한지 확인함
		// pg사 선택 - 카카오페이, 이니시스
        if(pg === 'kakaopay') {
            options.pg = "kakaopay.TC0ONETIME";
        } else if(pg === 'inicis') {
            options.pg = "html5_inicis.INIpayTest";
        }
        // 결제방식 선택 - 카드, 계좌이체, 가상계좌
        if(pay_method === 'card') {
            options.pay_method = "card";
        }else if(pay_method === 'trans') {
			options.pay_method = "trans";
		}else if(pay_method === 'vbank') {
			options.pay_method = "vbank";
			// 가상계좌 제한기각 - 미작성시 한달
//			options.vbank_due = ivdue;
		}

        IMP.request_pay(options, function(rsp) { // callback
		    if (rsp.success) {
		        console.log(rsp + " 성공");
		    } else {
		        alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
		        console.log(rsp + " 실패");
		        var resultDiv = document.createElement('div');
		        resultDiv.innerHTML = "결제가 실패하였습니다.";
		        document.body.appendChild(resultDiv);
		    }
		        });
		    }
</script>
</head>
<body>
<div>
	기업회원을 위한 채용공고권입니다.
</div>
<form id="paymentForm" method="post" onsubmit="return false;">
	<table border="">
		<!--회원정보와 연결하기-->
		<input type="hidden" name="buyer_name" placeholder="구매자이름" value="테스터">
		<input type="hidden" name="buyer_email" placeholder="이메일" value="">
		<input type="hidden" name="buyer_tel" placeholder="전화번호" value="01012345678">
		<tr>
			<!--상품은 추가될 경우 고려해서 for문 돌리는 형식으로 바꾸고 그에 따라 코드가 바뀌게 해야함-->
			<td>구매상품</td>
			<td>
				<input type="text" name="name" value="[오왕]채용공고권" readonly>
			</td>
		</tr>
		<tr>
			<!--가격도 상품에 연결된 가격을 갖고 와야함-->
			<td>상품가격</td>
			<td>
				<input type="text" name="amount" value="15000" readonly>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<button onclick="requestPay('inicis', 'trans')">이니시스(실시간계좌이체)</button>
				<button onclick="requestPay('inicis', 'vbank')">이니시스(가상계좌)</button>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<button onclick="requestPay('inicis', 'card')">이니시스(카드)</button>
				<button onclick="requestPay('kakaopay', 'card')">카카오페이</button>
			</td>
		</tr>
	</table>
</form>
</body>
</html>