<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<h2>수정페이지입니다 </h2> <!--연결성공-->

</body>
<header>
	<div th:insert="~{header :: header}"></div>
</header>
[[${dto}]]
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{recruitId}" />
	<input type="hidden" th:field="*{page}" />
	<input type="hidden" th:field="*{cid}" />
	<input type="hidden" th:field="*{recruitUpfile}" />
	<input type="hidden" th:value="${dto.recruitUpfile}" />
	<table border="">
		<tr>
			<td>수정-제목</td>
			<td><input type="text" th:field="*{recruitTitle}" required /></td>
		</tr>
	
		<tr>
			<td>파일</td>
			<td><input type="file" th:field="*{mmff}" /></td>
		</tr>
		
		<!--==================== 은별 추가 부분====================-->
		<!--급여추가-->
		<tr>
			<td>급여</td>
			<td>
				<input type="radio" value="월급" th:field="*{recruitMtype}" required />
				월급
				<input type="radio" value="연봉" th:field="*{recruitMtype}" />
				연봉
				<input type="text" th:field="*{recruitMoney}" />
			</td>
		</tr>
		<!-- ==================== 은별 ====================-->
		<tr>
			<td>내용</td>
			<td><textarea type="text" th:field="*{recruitContent}" rows="10" cols="30" required /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />

				<a th:href="@{'/recruit/list/1'}">뒤로가기</a>

			</td>

		</tr>
	</table>

	<footer>
       <div th:insert="~{footer :: footer}"></div>
    </footer>



</html>