<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>recruit/detail</h1>
	[[${dto}]]

	<table border="">

		<td>id</td>
		
		<td th:text="${dto.recruitId}" />
		</tr>
		<tr>
			<td>제목</td>
			<td th:text="${dto.recruitTitle}" />
		</tr>
		<tr>
			<td>작성자</td>
			<td th:text="${dto.cid}" />
		</tr>
		<tr>
			<td>등록일</td>
			<td th:text="${dto.regDate}" />
		</tr>
		<tr>
			<td>마감일</td>
			<td th:text="${magam}" />
		</tr>
		<tr>
			<td>조회수</td>
			<td th:text="${dto.cnt}" />
		</tr>

		<tr th:if="${dto.recruitUpfile != null}">

			<td>파일</td>
			<td>
				<img th:if="${dto.img}" th:src="|/up/${dto.recruitUpfile}|" />
				<a th:unless="${dto.img}" th:text="${dto.recruitUpfile}"
					th:href="|/recruit/download/${dto.recruitUpfile}|">
					<!-- 생각해보니 다운로드가 필요없음.. 일단 냅두겠습닏. -->
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${dto.recruitContent}" />
		</tr>
		<tr>
			<td colspan="2" align="right">
				<a th:href="|/recruit/delete/${dto.page}/${dto.recruitId}|">삭제</a>
				<a th:href="|/recruit/modify/${dto.page}/${dto.recruitId}|">수정</a>
				<a th:href="|/recruit/list/${dto.page}|">목록으로</a>
			</td>
		</tr>
		<th:block th:if="${session['sid']}">
			<tr>
				<td colspan="2">이력서 등록 테스트에요</td>
			</tr>
			<tr>
				<td colspan="2">
					<a th:href="|/recruit/submit/${dto.page}/${dto.recruitId}|">입사지원</a>
				</td>
			</tr>
		</th:block>
	</table>

</body>

</html>