<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>board/list</title>
   <script src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/recruit/recruit.css}">
</head>

<body>
<div id="home">		
   <header>
      <div th:insert="~{header :: header}"></div>
   </header>

	<div class="title_box">
	   <h1>채용마감</h1> 
	   <br><br><br><br>
	   <h3 id="p">다양한 채용정보와 새로운 채용소식을 오왕에서 만나보세요</h3>
   </div>
   
   <div class="wrap"><!--컨텐츠 div 시작-->
	<!--검색 div-->
   <div class="search">
		   <form action="/recruit/search" method="get" >
		      <select name="searchOption" id="select">
		         <option value="all">전체검색</option>
		         <option value="title">공고제목</option>
		         <option value="content">공고내용</option>
		         <option value="name">회사이름</option>
		      </select>
		      <input type="text" name="keyword" placeholder="🔍 검색어를 입력하세요" id="search_input">
			  <button type="submit" class="dod">
				  <i class="fa-solid fa-magnifying-glass fa-beat-fade" style="color:  rgb(45, 101, 242);">&nbsp검색</i>
			  </button>
		   </form>
   		</div><!--검색 div 끝-->

   <!-- 탭 -->
   <ul class="tabs">
      <li><a href="/recruit/list/all/1">채용</a></li>
      <li><a href="/recruit/list/1">채용중</a></li>
      <li><a href="/recruit/list/close/1">채용 마감</a></li>
   </ul>
   
   <!-- 채용 마감 데이터-->
   
   <table border="" class="list_table">
      <tr>
         <td>번호</td>
         <td>제목</td>
         <td>회사 이름</td>
         <td>채용시작일</td>
         <td>채용마감일</td>
         <td>조회수</td>
         <!--<td>기업아이디(본편에선제거)</td>-->
         <td>지원자수</td>
      </tr>
      <tr th:each="dto, dtoStat : ${closeData}">
         <td th:text="${dtoStat.count + recruitDTO.start}" />
         <td>
            <a th:href="|/recruit/detail/${dto.cid}/${recruitDTO.page}/${dto.recruitId}|"
               th:text="${dto.recruitTitle}" class= "hoverTitle" style="color: #ccc;"></a>
         </td>
         <td>
            <a th:href="'/company/detail/' + ${dto.cid}" th:text="${dto.cname}" class= "hoverCompany"></a>
         </td>
         <td th:text="${dto.regDate}" />
         <td th:text="${dto.realMagam}" />
         <td th:text="${dto.cnt}" />
        <!-- <td th:text="${dto.cid}" />-->
         <td th:text="${dto.appnum}" />
      </tr>
   </table>
   
   <!-- 페이지 네비게이션 - "채용 마감" 탭 -->
   <div id="closePageNav" class="tab-content">
      <a th:if="${closeDto.pageStart > 1}" th:href="${closeDto.page - closeDto.page}+1" th:text="'[처음]'" />
      <a th:if="${closeDto.pageStart > 1}" th:href="${closeDto.pageStart - 1}" th:text="'[이전]'" />
      <th:block th:each="no: ${#numbers.sequence(closeDto.pageStart, closeDto.pageEnd)}">
         <span th:if="${no==closeDto.page}" th:text="${no}" />
         <a th:unless="${no==closeDto.page}" th:href="${no}" th:text="${no}" />
      </th:block>
      <a th:if="${closeDto.pageEnd < closeDto.pageTotal}" th:href="${closeDto.pageEnd + 1}" th:text="'[다음]'" />
      <a th:if="${closeDto.pageEnd < closeDto.pageTotal}" th:href="${closeDto.pageTotal}" th:text="'[맨끝]'" />
   </div>
   
   <!-- 글쓰기 버튼 -->
   <div align="right" th:if="${session['cid']}">
      <a th:href="|/recruit/insert/${recruitDTO.page}|"> 
		  글쓰기 &nbsp;<i class="fa-solid fa-pen" style="color: #000000;"></i>
	  </a>
   </div>
   </div><!--컨텐츠 끝-->
   
   <footer>
       <div th:insert="~{footer :: footer}"></div>
    </footer>
<div>      
</body>

</html>