<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 정산 그래프</title>
<!-- Chart.js 라이브러리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
</head>
<body>
<form action="">
	<input type="date" name="startDate" th:value="${startDate}" th:max="${today}">
	~
	<input type="date" name="endDate" th:value="${endDate}" th:max="${today}">
	<button type="submit">확인</button>
</form>
<th:block th:if="${startDate != null and endDate != null}">
	<h3>검색기간: [[${startDate}]]부터 [[${endDate}]]까지</h3>
</th:block>
<h3>기간내 총매출: [[${totalSum}]]</h3>
<div>
    <canvas id="graphCanvas" width="500" height="300"></canvas>
</div>
<script th:inline="javascript">
    // 그래프 데이터
    let graphDatas = [[${graphData}]];
    
     // 시작 날짜와 끝 날짜 사이의 모든 날짜를 가져오는 함수
    function getDates(startDate, endDate) {
        let dates = [];
        let thisDate = new Date(startDate);
        // startDate부터 endDate까지 하루씩 더하면서 날짜를 배열에 넣음
        while (thisDate <= endDate) {
            dates.push(new Date(thisDate));
            thisDate.setDate(thisDate.getDate() + 1);
        }
        return dates;
    }

    // 데이터 가공
    let startDate = new Date([[${startDate}]]);
    let endDate = new Date([[${endDate}]]);
    let allDates = getDates(startDate, endDate);
    let tempMap = new Map();

    // 데이터를 tempMap에 넣기(옮김)
    graphDatas.forEach(item => {
        tempMap.set(item.date, item.totalAmount);
    });
    // 누락된 날짜를 0으로 채우기
    allDates.forEach(date => {
		// 날짜를 iso문자열로 변환하고 T를 기준으로 나눠 날짜를 yyyy-mm-dd 형식으로 가져옴
        let isoDate = date.toISOString().split('T')[0];
        // tempMap에 날짜가 없으면
        if (!tempMap.has(isoDate)) {
			// graphDatas에 없는 날짜와 값을 0으로 해서 넣어줌
            graphDatas.push({ date: isoDate, totalAmount: 0 });
        }
    });
    // graphDatas의 정렬기준(a, b를 날짜로 변환해서 빼기: a가 크면 양수- 뒤로 감, a가 작으면 음수- 앞으로 감) - 날짜순
    graphDatas.sort((a, b) => new Date(a.date) - new Date(b.date));

	// 라벨(x축) = graphDatas의 date
    let labels = graphDatas.map(function(item) {
        return item.date;
    });	
    // 데이타(y축) = graphDatas의 totalAmount
    let data = graphDatas.map(function(item) {
        return item.totalAmount;
    });
    
	let graphData = {
	    labels: labels,
	    datasets: [{
	        label: "매출",
	        data: data,
	        backgroundColor: 'yellow',
	        borderColor: 'orange',
	        borderWidth: 3
	    }]
	};
    // 캔버스에 그래프 그리기
    let ctx = document.getElementById('graphCanvas').getContext('2d');
    let graphCanvas = new Chart(ctx, {
        type: 'line', // 꺾은선 그래프
        data: graphData,
        options: {
	        responsive: false, // 반응형 해제, 반응형으로 두면 크기가 무조건 꽉 채워짐
	        plugins: {
	            legend: {
	                display: false // 범례 표시 해제
	            }
	        }
        }
    });
</script>
    <div>
		<table border="">
		    <thead>
		        <tr>
		            <th colspan="2">개인회원</th>
		            <th>[[${sSum}]]</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="item, index : ${slist}">
		            <td th:text="${index.index + 1}"></td>
		            <td th:text="${item['sid']}"></td>
		            <td th:text="${item['total']}"></td>
		        </tr>
		    </tbody>
		</table>
	</div>
    <div>
		<table border="">
		    <thead>
		        <tr>
		            <th colspan="2">기업회원</th>
		            <th>[[${cSum}]]</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="item, index : ${clist}">
		            <td th:text="${index.index + 1}"></td>
		            <td th:text="${item['cid']}"></td>
		            <td th:text="${item['total']}"></td>
		        </tr>
		    </tbody>
		</table>
	</div>
    <div>
		<table border="">
		    <thead>
		        <tr>
		            <th colspan="2">상품</th>
		            <th>[[${pSum}]]</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="item, index : ${plist}">
		            <td th:text="${index.index + 1}"></td>
		            <td th:text="${item['pname']}"></td>
		            <td th:text="${item['total']}"></td>
		        </tr>
		    </tbody>
		</table>
	</div>
</body>
</html>