<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 관리</title>
</head>
<script th:inline="javascript">
   document.addEventListener("DOMContentLoaded", function () {
       let addForm = document.getElementById("addForm");
       let del = document.querySelectorAll(".delbtn");
       // 상품추가폼 제출(submit)시
       addForm.addEventListener("submit", function (event) {
           event.preventDefault(); // 폼 기본동작 방지
           let productPrice = productPriceInput.value;
           if (productPrice >= 1000) {
               // confirm 확인받고 상품추가폼 제출
               if (confirm("정말로 상품을 추가하시겠습니까?")) {
                   this.submit();
               }
           } else {
               alert("1000이상을 입력하세요");
           }
       });

       // 상품 삭제 버튼 각각
       del.forEach(function (button) {
         // 버튼 클릭시 이벤트
           button.addEventListener("click", function () {
               // confirm 확인받고 상품삭제
               if (confirm("정말로 상품을 삭제하시겠습니까?")) {
               // 버튼의 아이디(=상품아이디) 가져오기
                    let productId = this.getAttribute("id");
                    // 파라미터로 상품아이디 보내기
                    let deleteUrl = `/admin_product/deleteProduct?productId=${productId}`;
                    window.location.href = deleteUrl; // 지정된 URL로 이동
               }
           });
       });
       
        let productClientSelect = document.querySelector("select[name='productClient']");
        let productNameInput = document.querySelector("input[name='productName']");
        let productValidInput = document.querySelector("input[name='productValid']");
        let productPriceInput = document.querySelector("input[name='productPrice']");

        productClientSelect.addEventListener("change", function () {
            if (this.value === '개인') {
                productNameInput.value = '[오왕]리뷰열람권 ';
            } else if (this.value === '기업') {
                productNameInput.value = '[오왕]채용공고권 ';
            }
        });

      // 상품명
      productValidInput.addEventListener("blur", function () {
          let validValue = this.value;
          let productName = productNameInput.value;
      
           let upProductName;
           if (productName.length >= 11) {
               upProductName = productName.slice(0, 10) + validValue + '일권';
           } else {
               upProductName = productName + validValue + '일권';
           }
           productNameInput.value = upProductName;
      });
   });
</script>
<body>
<h1>상품 변경</h1>
<!-- 폼제출시 동작은 상품추가 -->
<form action="insertProduct" method="post" th:object="${ProductDTO}" id="addForm">
   <table border="">
      <tr>
         <td>대상</td>
         <td>유효일</td>
         <td>상품명</td>
         <td>금액</td>
         <td></td>
      </tr>
      <tr th:each="dto : ${data}" align="center">
         <td th:text="${dto.productClient}"></td>
         <td th:text="${dto.productValid}"></td>
         <td th:text="${dto.productName}"></td>
         <td th:text="${dto.productPrice}"></td>
         <!-- 삭제버튼 아이디를 해당상품의 상품아이디로. th:attr로 동적으로 할당, 그렇지 않으면 동작 안됨 -->
         <td><input type="button" value="삭제" class="delbtn" th:attr="id=${dto.productId}"></td>
      </tr>
      <tr>
            <td>
                <select th:field="*{productClient}">
                    <option value="개인" selected>개인</option>
                    <option value="기업">기업</option>
                </select>
            </td>
            <td><input type="number" th:field="*{productValid}" min="1"></td>
            <td><input type="text" th:field="*{productName}" readonly></td>
            <td><input type="text" th:field="*{productPrice}" pattern="[0-9]*" required></td>
            <td><input type="submit" value="추가"></td>
      </tr>
   </table>
</form>
</body>
</html>