<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 </title>
</head>
<script>
	document.addEventListener("DOMContentLoaded", function () {
	    let addForm = document.getElementById("addForm");
	    let del = document.querySelectorAll(".delbtn");
	    // 상품추가폼 제출(submit)시
	    addForm.addEventListener("submit", function (event) {
	        event.preventDefault(); // 폼 기본동작 방지
			// confirm 확인받고 상폼추가폼 제출
	        if (confirm("정말로 상품을 추가하시겠습니까?")) {
	            this.submit();
	        }
	    });
	    // 상품 삭제 버튼 각각
	    del.forEach(function (button) {
			// 버튼 클릭시 이벤트
	        button.addEventListener("click", function () {
	            // confirm 확인받고 상품삭제
	            if (confirm("정말로 상품을 삭제하시겠습니까?")) {
                    let productCode = this.getAttribute("id"); // 버튼의 아이디(상품아이디) 가져오기
                    let deleteUrl = `/admin_product/deleteProduct?productId=${productId}`;
                    window.location.href = deleteUrl; // 지정된 URL로 이동
	            }
	        });
	    });
	});
</script>
<body>
<h1>상품 변경</h1>
<!-- 폼제출시 동작은 상품추가 -->
<form action="insertProduct" method="post" th:object="${ProductDTO}" id="addForm">
	<table border="">
		<tr>
			<td>대상</td>
			<td>상품코드</td>
			<td>유효일</td>
			<td>상품명</td>
			<td>금액</td>
			<td></td>
		</tr>
		<tr th:each="dto : ${data}" align="center">
			<td th:text="${dto.productClient}"></td>
			<td th:text="${dto.productCode}"></td>
			<td th:text="${dto.productValid}"></td>
			<td th:text="${dto.productName}"></td>
			<td th:text="${dto.productPrice}"></td>
			<!-- 삭제버튼 아이디를 해당상품의 상품아이디로 -->
			<td><input type="button" value="삭제" class="delbtn" th:attr="id=${dto.productId}"></td>
		</tr>
		<tr>
			<td><input type="text" th:field="*{productClient}"></td>
			<td><input type="text" th:field="*{productCode}"></td>
			<td><input type="text" th:field="*{productValid}"></td>
			<td><input type="text" th:field="*{productName}"></td>
			<td><input type="text" th:field="*{productPrice}"></td>
			<td><input type="submit" value="추가"></td>
		</tr>
	</table>
</form>
</body>
</html>