<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>상품 매출 내역</title>
	<script th:inline="javascript">
		var errorMsg = /*[[${errorMsg}]]*/ null;
		if (errorMsg !== null) {
			alert(errorMsg);
			window.history.back();
		}

		// from 선택시 to는 그 이후가 선택되도록
		document.addEventListener('DOMContentLoaded', function () {
			let inputSd = document.querySelector('input[name="from"]');
			let inputEd = document.querySelector('input[name="to"]');
			inputSd.addEventListener('input', function () {
				inputEd.min = this.value;
			});
		});   
	</script>
</head>

<body>
	<th:block th:replace="~{admin/adheader}" />
	<h1>상품 매출 내역</h1>
	[[${status}]]
	[[${limit}]]
	[[${from}]]
	[[${to}]]
	[[${sorting}]]
	[[${today}]]
	<form action="">
		<label for="status">결제상태</label>
		<select name="status" id="status">
			<option value="paid" th:selected="${status == 'paid'}">완료</option>
			<option value="all" th:selected="${status == 'all'}">모두</option>
			<option value="ready" th:selected="${status == 'ready'}">대기</option>
			<option value="cancelled" th:selected="${status == 'cancelled'}">취소</option>
			<option value="failed" th:selected="${status == 'failed'}">실패</option>
		</select>
		<label for="limit">1페이지당 자료수</label>
		<select name="limit" id="limit">
			<option value="15" th:selected="${limit == 15}">15</option>
			<option value="30" th:selected="${limit == 30}">30</option>
			<option value="50" th:selected="${limit == 50}">50</option>
			<option value="100" th:selected="${limit == 100}">100</option>
		</select>
		<label for="from">범위</label>
		<input type="date" name="from" id="from" th:value="${from}" th:max="${today}">
		<label for="to">~</label>
		<input type="date" name="to" id="to" th:value="${to}" th:max="${today}">
		<label for="sorting">정렬</label>
		<select name="sorting" id="sorting">
			<option value="-updated" th:selected="${sorting == '-updated'}">-최종수정</option>
			<option value="updated" th:selected="${sorting == 'updated'}">+최종수정</option>
			<option value="-started" th:selected="${sorting == '-started'}">-결제요청</option>
			<option value="started" th:selected="${sorting == 'started'}">+결제요청</option>
			<option value="-paid" th:selected="${sorting == '-paid'}">-결제완료</option>
			<option value="paid" th:selected="${sorting == '-paid'}">+결제완료</option>
		</select>
		<button type="submit">검색</button>
	</form>
	<table border="">
		<thead>
			<tr>
				<th>결제상태</th>
				<th>거래번호</th>
				<th>상품명</th>
				<th>상품금액</th>
				<th>회원아이디</th>
				<th>결제요청</th>
				<th>결제실패</th>
				<th>결제완료</th>
				<th>결제취소</th>
			</tr>
		</thead>
		<th:block th:if="${paymentData != null}">
			<tbody>
				<tr th:each="payment : ${paymentData}">
					<td th:text="${payment.status}"></td>
					<td>
						<a th:href="|/admin_product/payment/detail/${payment.imp_uid}|" th:text="${payment.imp_uid}"
							onclick="window.open(this.href, '결제내역상세', 'width=600,height=700');
                     return false;" target="_blank" />
					</td>
					<td th:text="${payment.name}"></td>
					<td th:text="${payment.amount}"></td>
					<td th:text="${payment.id}"></td>
					<td th:text="${payment.started_at}"></td>
					<td th:text="${payment.failed_at}"></td>
					<td th:text="${payment.paid_at}"></td>
					<td th:text="${payment.cancelled_at}"></td>
				</tr>
		</th:block>
		<tr>
			<td colspan="9" align="center">
				<!-- 맨첫 페이지 -->
				<th:block th:unless="${from == null or to == null}">
					<a th:if="${prevPage > 1}"
						th:href="|/admin_product/payment/1?status=${status}&limit=${limit}&from=${from}&to=${to}&sorting=${sorting}|"
						th:text="처음1" />
				</th:block>
				<th:block th:if="${from == null or to == null}">
					<a th:if="${prevPage > 1}"
						th:href="|/admin_product/payment/1?status=${status}&limit=${limit}&sorting=${sorting}|"
						th:text="처음1" />
				</th:block>
				<!-- 이전 페이지 -->
				<th:block th:unless="${from == null or to == null}">
					<a th:if="${totalPages != 1 and prevPage != page}"
						th:href="|/admin_product/payment/${prevPage}?status=${status}&limit=${limit}&from=${from}&to=${to}&sorting=${sorting}|"
						th:text="이전" />
				</th:block>
				<th:block th:if="${from == null or to == null}">
					<a th:if="${totalPages != 1 and prevPage != page}"
						th:href="|/admin_product/payment/${prevPage}?status=${status}&limit=${limit}&sorting=${sorting}|"
						th:text="이전" />
				</th:block>
				<!-- 페이지 처리 -->
				<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
					<span th:if="${i == page} and i != 0" th:text="${i}"></span>
					<th:block th:unless="${from == null or to == null}">
						<a th:unless="${i == page or i == 0}"
							th:href="|/admin_product/payment/${i}?status=${status}&limit=${limit}&from=${from}&to=${to}&sorting=${sorting}|"
							th:text="${i}" />
					</th:block>
					<th:block th:if="${from == null or to == null}">
						<a th:unless="${i == page or i == 0}"
							th:href="|/admin_product/payment/${i}?status=${status}&limit=${limit}&sorting=${sorting}|"
							th:text="${i}" />
					</th:block>
				</th:block>
				<!-- 다음 페이지 -->
				<th:block th:unless="${from == null or to == null}">
					<a th:if="${totalPages != 0 and nextPage != page}"
						th:href="|/admin_product/payment/${nextPage}?status=${status}&limit=${limit}&from=${from}&to=${to}&sorting=${sorting}|"
						th:text="다음" />
				</th:block>
				<th:block th:if="${from == null or to == null}">
					<a th:if="${totalPages != 0 and nextPage != page}"
						th:href="|/admin_product/payment/${nextPage}?status=${status}&limit=${limit}&sorting=${sorting}|"
						th:text="다음" />
				</th:block>
				<!-- 맨끝 페이지 -->
				<th:block th:unless="${from == null or to == null}">
					<a th:if="${totalPages != 0 and nextPage < totalPages}"
						th:href="|/admin_product/payment/${totalPages}?status=${status}&limit=${limit}&from=${from}&to=${to}&sorting=${sorting}|"
						th:text="|맨끝${totalPages}|" />
				</th:block>
				<th:block th:if="${from == null or to == null}">
					<a th:if="${totalPages != 0 and nextPage < totalPages}"
						th:href="|/admin_product/payment/${totalPages}?status=${status}&limit=${limit}&sorting=${sorting}|"
						th:text="|맨끝${totalPages}|" /a>
				</th:block>
			</td>
		</tr>
		</tbody>
	</table>
</body>

</html>