<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 매출 내역</title>
</head>
<body>
   <h1>상품 매출 내역</h1>
    <table border="">
        <thead>
            <tr>
                <th>거래번호</th>
                <th>주문번호</th>
                <th>상품명</th>
				<th>회원아이디</th>
				<th>회원이름</th>
                <th>상품금액</th>
                <th>결제수단</th>
                <th>결제일</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="payment : ${paymentData}">
                <td th:text="${payment.imp_uid}"></td>
                <td th:text="${payment.merchant_uid}"></td>
                <td th:text="${payment.name}"></td>
                <td th:text="${payment.id}"></td>
                <td th:text="${payment.buyer_name}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.pay_method}"></td>
                <td th:text="${payment.paid_at}"></td>
                <td><a th:href="${payment.receipt_url}" target="_blank">매출전표</a></td>
            </tr>
            <tr>
				<td colspan="8" align="center">					
		    		<!-- 이전 페이지로 이동 -->
				    <a th:if="${page-1 > 0}" th:href="|/admin_product/payment/${page-1}|">이전</a>
					<!-- 페이지 번호 표시 -->
					<th:each begin="1" end="${totalPages}" step="1" var="i">
						<th:block th:each="no: ${#numbers.sequence(1, totalPages)}" >
							<span th:if="${no==page}" th:text="${no}"/>
							<a th:unless="${no==page}" th:href="|/admin_product/payment/${no}|" th:text="${no}"/>
						</th:block>
					</th:each>
					<!-- 다음 페이지로 이동 -->
				    <a th:if="${totalPages >= page+1}" th:href="|/admin_product/payment/${page+1}|">다음</a>
				</td>
			</tr>
        </tbody>
    </table>
</body>
</html>