

	<header>
	<link rel="stylesheet" th:href="@{/css/header/header.css}">	
		<nav>
			
			<ul>
				<li><a href="/">   로고 홈</a></li>
				
				<li>한식요리사 채용
					<div class="submenu">
						<ul>
							
							<li><a href="/recruit/list/all/1">채용</a></li>
							<li><a href="/recruit/calendar">캘린더</a></li>
						</ul>
					</div>
				</li>
				
				<!--비회원일 경우 상품안내 ->로그인으로 변경했습니다.-->
				<li>상품 안내
					<div class="submenu">
						<ul>
						
							<li><a href="/product/notice">상품안내</a></li>
				
						</ul>
					</div>
				</li>
				<li th:if="${session['sid']}">개인서비스
					<div class="submenu">
						<ul>
							<li><a href="/solo_resume/home">이력서 관리</a></li>
							<li><a href="/solo_applicant/home/1">지원서 관리</a></li>
							<li><a href="/solo_scrab/home/1">공고 스크랩</a></li>
							<li><a href="/solo_review/home">마이 리뷰</a></li>
							<li><a href="/solo/solo_info">개인 마이페이지</a></li>
							<li><a href="/solo/product">개인 결제내역</a></li>
						</ul>
					</div>
				</li>
				
				<li th:if="${session['cid']}">기업서비스
					<div class="submenu">
						<ul>
							<li><a th:href="|/company/list/${session['cid']}/1|">공고 관리</a></li>
							<!--<li><a href="/recruit/insert/1">공고 등록</a></li>-->
						    <li><a href="/company_applicant/home/1">지원자 관리</a></li>
							<li><a href="/company/mypage">기업 마이페이지</a></li>
							<li><a th:href="|/review/list/${session['cid']}/1|">기업 리뷰</a></li>
							<li><a href="/company/product">기업 결제내역</a></li>
						</ul>
					</div>
				</li>

				<li>고객지원
					<div class="submenu">
						<ul>
							<li><a href="/notice/notice/1">공지사항</a></li>
							<!--관리자,회사,개인 아이디 아닐경우 1:1 게시글 못봄-->
							<li th:if="${session['cid'] != null or session['sid'] != null or session['adminSession'] != null}"><a href="/ask/list/1">1:1</a></li> <!--안보이게-->
							
						</ul>
					</div>
				</li>

			</ul>

			<!-- 로그인/로그아웃 링크 -->
			<div th:if="${session['cid'] == null and session['sid'] == null}">
				<a href="/join/company"> 기업회원가입</a>
				<a href="/join/solo"> 개인회원가입</a>
				<a href="/login/main">로그인</a>
				<a href="/admin/adminLogin">관리자 로그인</a>
				<a href="/admin/adminM">[관리자 페이지 이동]</a>
			</div>
			<div th:if="${session['cid'] != null or session['sid'] != null} or ${session.adminSession != null}">
				<a href="/login/logout">로그아웃</a>
			</div>
			
		</nav>
    </header>

	<h1>권지혜</h1>
<h3>상품안내</h3>
	<a href="/product/notice">상품안내</a>
<h3>관리자 상품관리</h3>
	<a href="/admin_product/modify">관리자 상품추가</a>
	<a href="/admin_product/graph">관리자 상품정산</a>
	<a href="/admin_product/payment/1">관리자 결제내역</a>

