<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<!-- jQuery 라이브러리 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
	<h1>solo/ModifyForm</h1>

	<form method="post" enctype="multipart/form-data" th:object="${dto}">
		<input type="hidden" th:field="*{sid}" />
		<table border="">

			<tr>
				<td>이름</td>
				<td><input type="text" th:field="*{sname}" /></td>
			</tr>
			<tr id="zpassword">
				<td>기존비밀번호</td>
				<td>
					<input type="password" th:value="*{spw}" id="spw" readonly />
					<input type="button" value="비밀번호 변경" id="changePasswordButton" />
				</td>
			</tr>
			<tr id="passwordChangeRow" style="display: none;">
				<td>새 비밀번호</td>
				<td><input type="password" th:field="*{spw}" id="newSpw" /></td>
			</tr>
			<tr id="passwordConfirmationRow" style="display: none;">
				<td>비밀번호 확인</td>
				<td><input type="password" name="spw2" id="spw2" /></td>
			</tr>
			<tr>
				<td>생년월일</td>
				<td><input type="text" th:field="*{sbirth}" /></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type="number" th:field="*{sage}" /></td>
			</tr>
			<tr>
				<td>성별</td>
				<td>
					<label><input type="radio" name="sgender" value="남성" th:checked="${dto.sgender == '남성'}"> 남성</label>
					<label><input type="radio" name="sgender" value="여성" th:checked="${dto.sgender == '여성'}"> 여성</label>
				</td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td><input type="text" th:field="*{sphone}" /></td>
			</tr>
			<tr>
				<td>이메일</td>
				<td><input type="text" th:field="*{semail}" /></td>
				</td>

			</tr>
			<tr>
				<td>주소</td>
				<td><input type="text" th:field="*{saddress}" />
				</td>
			</tr>


			<label>재직자라면 클릭하세요<input type="button" onclick="toggleFields()" value="재직정보입력" /></label>
			<!-- 회사 이름 필드 -->
			<tr id="companyNameMenu" style="display:none;">
				<td>회사 이름</td>
				<td><input type="text" th:field="*{scompanyName}" />
				</td>
			</tr>

			<!-- 회사 재직증명서 파일 업로드 필드 -->
			<tr id="companyFileMenu" style="display:none;">
				<td>회사 재직증명서</td>
				<td><input type="file" th:field="*{mmff}" />
				</td>
			</tr>

			<tr>

				<td colspan="2" align="center">
					<input type="submit" value="수정" />
				</td>
				<td colspan="2" align="center">
					<input type="reset" value="리셋" />
				</td>
				<td colspan="2" align="center">
					<a href="/solo/solo_info">뒤로</a>
				</td>
			</tr>


		</table>
	</form>
	<script>
		function toggleFields() {
			const companyName = document.getElementById("companyNameMenu");
			const companyFile = document.getElementById("companyFileMenu");

			if (companyName.style.display == "none") {
				companyName.style.display = "table-row";
				companyFile.style.display = "table-row";
			} else {
				companyName.style.display = "none";
				companyFile.style.display = "none";
			}
		}
		$(document).ready(function () {
			// 페이지 로드 시, 기존 비밀번호 필드의 값을 새 비밀번호 필드에 설정
			var oldPassword = $("#spw").val();
			$("#newSpw").val(oldPassword);
		});

		// 비밀번호 변경 버튼 클릭 시
		$("#changePasswordButton").click(function () {
			$("#zpassword").hide(); // 기존 비밀번호 필드 숨김
			$("#newSpw").val(""); // 새 비밀번호 필드 리셋
			$("#passwordConfirmationRow").show(); // 비밀번호 확인 필드 표시
			$("#passwordChangeRow").show(); // 비밀번호 확인 필드 표시
		});
	</script>
</body>

</html>