<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>관리자 개인 탈퇴 회원</title>
</head>
<th:block th:replace="~{admin/adheader}"/>
<body>
	<h2>개인 탈퇴 회원</h2>
    <span th:if="${endsoloData.isEmpty()}">
		<h3>개인 탈퇴 회원이 존재하지 않습니다.</h3>
	</span>
	<table border="" th:if="${not endsoloData.isEmpty()}">
		<tr>
			<th>번호</th>
			<th>아이디</th>
			<th>이름</th>
			<th>생일</th>
			<th>나이</th>
			<th>성별</th>
			<th>전화번호</th>
			<th>이메일</th>
			<th>주소</th>
			<th>가입일자</th>
			<th>탈퇴일자</th>
		</tr>
		<tr th:each="dto, dtostat : ${endsoloData}">
			<td th:text="${dto.sno}" />
			<td th:text="${dto.sid}" />
			<td th:text="${dto.sname}" />
			<td th:text="${dto.sbirth}" />
			<td th:text="${dto.sage}" />
			<td th:text="${dto.sgender}" />
			<td th:text="${dto.sphone}" />
			<td th:text="${dto.semail}" />
			<td th:text="${dto.saddress}" />
			<td th:text="${dto.sjoindate}" />
			<td th:text="${dto.sdeletedate}" />
		</tr>
		<tr>
			<td colspan="11" align="center">
				<a th:if="${soloDTO.pageStart > 1}" th:href="${soloDTO.page-soloDTO.page}+1" th:text="'[이전페이지]'" />

				<a th:if="${soloDTO.pageStart < soloDTO.page}" th:href="${soloDTO.page - 1}" th:text="'[이전]'" />
				<th:block th:each="no: ${#numbers.sequence(soloDTO.pageStart, soloDTO.pageEnd)}">
					<span th:if="${no==soloDTO.page}" th:text="${no}" />
					<a th:unless="${no==soloDTO.page}" th:href="${no}" th:text="${no}" />
				</th:block>
				<a th:if="${soloDTO.page < soloDTO.pageEnd}" th:href="${soloDTO.page + 1}" th:text="'[다음]'" />
				<a th:if="${soloDTO.pageEnd < soloDTO.pageTotal}" th:href="${soloDTO.pageTotal}" th:text="'[다음페이지]'" />
			</td>
		</tr>
	</table>
</body>

</html>