<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
[[${appdata}]]
<h2>기업 지원자 관리</h2>
<span th:if="${appdata.isEmpty()}">
	<h2>지원자가 존재하지 않습니다</h2>
</span>
	<span th:if="${not appdata.isEmpty()}" th:text="${'총 ' + appdata.size() + ' 명의 지원자가 존재합니다.'}"></span>
<table border="">
	<tr th:if="${not appdata.isEmpty()}">
		<td>.no</td>
		<td>지원일</td>
		<td>지원자명</td>
		<td>기업명</td>
		<td>공고제목</td>
		<td>지원이력서</td>
		<td>지원자 삭제</td>
	</tr>
    <!-- appdata가 값이 있는 경우 데이터 출력 -->
    <tr th:each="adto, astart : ${appdata}">
        <td th:text="${astart.count + applicantDTO.start}" th:value="${adto.ano}" />
        <td th:text="${adto.apsubmitdate}" />
        <td th:text="${adto.sname}" />
         <!-- 기업 명 -->
		<td>
			<a th:href="'/company/detail/' + ${adto.cid}" th:text="${adto.cname}"></a>
		</td>
		<!-- 공고 제목 -->
        <td>
			<a th:href="'/recruit/detail/' + ${adto.cid} + '/' + ${applicantDTO.page} + '/' + ${adto.recruitId}" th:text="${adto.recruitTitle}"></a>
		</td>
		<!-- 지원 이력서 -->
        <td>
			<a th:href="|/company/detail/${applicantDTO.page}/${adto.ano}|" th:text="${adto.aptitle}" /> 
		</td>
		<input type="hidden" th:value="${adto.ano}" name="ano"/>
        <td>
            <a th:href="|/company/modify/${applicantDTO.page}/${adto.ano}|" th:onclick="return confirm('[[${adto.sname}]]님의 지원서를 삭제하시겠습니까?')">삭제</a>
        </td>
    </tr>
	<tr>
	    <td colspan="7" align="center">
	        <a th:if="${applicantDTO.pageStart > 1}" th:href="${applicantDTO.pageStart - 1}" th:text="'[이전]'" />
	        <th:block th:each="ad: ${#numbers.sequence(applicantDTO.pageStart, applicantDTO.pageEnd)}">
	            <span th:if="${ad == applicantDTO.page}" th:text="${ad}" />
	            <a th:unless="${ad == applicantDTO.page}" th:href="${ad}" th:text="${ad}"></a>
	        </th:block>
	        <a th:if="${applicantDTO.pageEnd < applicantDTO.pageTotal}" th:href="${applicantDTO.pageEnd + 1}" th:text="'[다음]'" />
	    </td>
	</tr>

</table>
</body>
</html>