<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>이력서 확인</h2>
<div>
	<div>
        <div style="border: 1px solid #ccc; width:700px;" >
			<h3>기본정보</h3>
			<div>
				<table>
					<tr>
						<td>안재훈</td>
						<td>남자</td>
						<td>만 26세</td>
					</tr>
					<tr>
						<td>주소</td>
						<td>경기도 용인시</td>
						<td>이메일</td>
						<td>jhoon0211@gmail.com</td>
					</tr>
					<tr>
						<td>전화번호</td>
						<td>010-2521-0999</td>
					</tr>
					<tr>
				</table>
			</div>
			<div>
				<img th:if="${rdto.img}" th:src="|/up/${rdto.rsphoto}|"
				style="width:160px; height:200px; border: 1px solid #ccc;"/>
			</div>
		</div>
		<!-- 이력서 제목 -->
        <div style="border: 1px solid #ccc; width:500px;">
			<p>이력서 제목</p>
			<p th:text="${rdto.rstitle}" />
		</div>
		<!-- 경력 사항 -->
        <div style="border: 1px solid #ccc; width:500px;">
			<p>경력</p>
			<p th:text="${rdto.rscareer}" />
		</div>
		<!-- 학력 -->
        <div style="border: 1px solid #ccc; width:500px;">
			<p>학력</p>
			<p th:text="${rdto.rsacademic}" />
			<p th:text="${rdto.rsacademicstat}" />			
		</div>
		<!-- 자기소개 -->
        <div style="border: 1px solid #ccc; width:500px;">
		    <p>자기소개서</p>
		    <p th:text="${rdto.rsintroduce}" />
		</div>
		<!-- 자격증 -->
        <div style="border: 1px solid #ccc; width:500px;">
			<p>자격증</p>
			<table>
				<tr>
					<td>자격증 명</td>
					<td th:text="${rdto.rslicense}" />
				</tr>
				<tr>
					<td>발행처</td>
					<td th:text="${rdto.rslicenseorg}" />
					<td th:text="${rdto.rslicenseyear}" />
				</tr>
			</table>
		</div>
		<!-- 어학 능력 -->
        <div style="border: 1px solid #ccc; width:500px;">
			<p>어학능력</p>
			<p th:text="${rdto.rslanguage}" />
		</div>
		<div>
			<a th:href="@{|/solo_resume/modify/${rdto.rsid}|}">수정</a>
			<a href="/solo_resume/home">목록으로</a>
		</div>
	</div>
</div>
</body>
</html>