<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:inline="javascript">
		function goBack() {
			window.history.back();
		}


		function fileDelete() {
			// 컨트롤러의 fileDelete로 가라
			frm.action = "/solo_resume/fileDelete/[[${sdto.rsid}]]"
			// 이게 있어야 파일삭제 누르면 fileDelete 메서드 실행
			frm.submit();
		}

		function showForm() {
			event.preventDefault();
			document.getElementById("introduce").style.display = "block";
			document.getElementById("hide").style.display = "block";
			document.getElementById("show").style.display = "none";
		}

		function hideForm() {
			event.preventDefault();
			document.getElementById("introduce").style.display = "none";
			document.getElementById("hide").style.display = "none";
			document.getElementById("show").style.display = "block";
		}

		function showLicense() {
			event.preventDefault();
			document.getElementById("license").style.display = "block";
			document.getElementById("hideli").style.display = "block";
			document.getElementById("showli").style.display = "none";
		}

		function hideLicense() {
			event.preventDefault();
			document.getElementById("license").style.display = "none";
			document.getElementById("hideli").style.display = "none";
			document.getElementById("showli").style.display = "block";
		}

		function showLanguage() {
			event.preventDefault();
			document.getElementById("language").style.display = "block";
			document.getElementById("hidelg").style.display = "block";
			document.getElementById("showlg").style.display = "none";

		}

		function hideLanguage() {
			event.preventDefault();
			document.getElementById("language").style.display = "none";
			document.getElementById("hidelg").style.display = "none";
			document.getElementById("showlg").style.display = "block";
		}
		document.addEventListener('DOMContentLoaded', function () {
			// 경력 선택 라디오 버튼
			var careerRadio = document.querySelectorAll('input[name="rscareer"]');
			// 경력 관련 입력란들을 감싸는 div
			var careerDetailsDiv = document.getElementById('careerDetails');

			// 경력 선택 라디오 버튼의 변경 이벤트를 감지
			careerRadio.forEach(function (radio) {
				radio.addEventListener('change', function () {
					if (radio.value === '경력') {
						// '경력' 선택 시 입력란 나타냄
						careerDetailsDiv.style.display = 'block';
					} else {
						// '신입' 선택 시 입력란 숨김
						careerDetailsDiv.style.display = 'none';
					}
				});
			});
		});

		// 이력서 증명사진 jpg png로만
		function validateFile() {
			var mmffInput = document.getElementById("rsmmff");
			var fileError = document.getElementById("fileError");
			var fileName = mmffInput.value;

			if (fileName === "") {
				// 파일이 선택되지 않은 경우
				fileError.innerText = "";
			} else {
				var fileExtension = fileName.split('.').pop().toLowerCase();
				var allowedExtensions = ["jpg", "png", "bmp", "gif", "jpeg"];

				if (allowedExtensions.indexOf(fileExtension) === -1) {
					// 파일 확장자가 허용되지 않는 경우
					mmffInput.value = ""; // 파일 입력란 초기화
					fileError.innerText = "이미지만 업로드 가능합니다.";
				} else {
					fileError.innerText = ""; // 오류 메시지 초기화
				}
			}
		}
		// 이미지 미리보기
		function previewImage() {
			var fileInput = document.getElementById('rsmmff');
			var imagePreview = document.getElementById('imagePreview');
			var fileError = document.getElementById('fileError');

			if (fileInput.files && fileInput.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					imagePreview.style.display = 'block';
					imagePreview.src = e.target.result;
					fileError.innerHTML = ''; // 이미지가 표시되면 에러 메시지를 지웁니다.
				};

				reader.readAsDataURL(fileInput.files[0]);
			} else {
				imagePreview.style.display = 'none';
				fileError.innerHTML = '이미지를 선택하세요.';
			}
		}

		function handleFileChange() {
			validateFile();
			previewImage();
		}    
	</script>
</head>

<body>
	[[${rdto}]]
	<h2>이력서 수정</h2>
	<form id="frm" method="post" enctype="multipart/form-data" th:object="${sdto}">
		<div>
			<div style="border: 1px solid #ccc; width:500px;">
				<h2>기본정보</h2>
				<div>
					<table style="width:500px;">
						<tr>
							<td colspan="4">
								<input type="hidden" th:value="${solosession.sid}" name="sid" />
							</td>
							<td rowspan="7" style="vertical-align: top;">
								<img th:if="${sdto.img}" th:src="|/resumephoto/${sdto.rsphoto}|"
									style="width:160px; height:200px; border: 1px solid #ccc;" />
								<img id="imagePreview" src="#" alt="미리보기 이미지"
									style="display: none; max-width:160px; max-height:200px;">
							</td>
						</tr>

						<tr>
							<td th:text="${solosession.sname}"></td>
							<td th:text="${solosession.sgender}"></td>
							<td th:text="${solosession.sage}"></td>
						</tr>
						<tr>
							<td>주소</td>
							<td colspan="3" th:text="${solosession.saddress}"></td>
						</tr>
						<tr>
							<td>이메일</td>
							<td colspan="3" th:text="${solosession.semail}"></td>
						</tr>
						<tr>
							<td>전화번호</td>
							<td colspan="3" th:text="${solosession.sphone}"></td>
						</tr>
						<tr>
							<td colspan="4">
								<input th:unless="${sdto.rsphoto != null}" type="file" th:field="*{rsmmff}" id="rsmmff"
									onchange="handleFileChange()" required />
								<span id="fileError" style="color: red;"></span>
							</td>
						</tr>
					</table>
				</div>
				<div>
					<th:block th:if="${sdto.rsphoto != null}">
						<input type="text" th:field="*{rsphoto}" readonly />
						<input type="button" onclick="fileDelete()" th:value="|*{rsphoto} 파일삭제|" />
					</th:block>
				</div>
			</div>
			<input type="hidden" th:value="*{rsid}" />
			<!-- 이력서 제목 -->
			<div style="border: 1px solid #ccc; width:500px;">
				<p>이력서 제목</p>
				<input type="text" th:field="*{rstitle}" />
				<input type="hidden" th:value="*{rstitle}" />
			</div>
			<!-- 경력 사항 -->
			<div style="border: 1px solid #ccc; width:500px;">
				<p>경력</p>
				<p>
					<label for="resumeCareerNew">
						<input type="radio" name="rscareer" id="resumeCareerNew" value="신입" th:field="*{rscareer}"
							required />
						신입
					</label>
					<label for="resumeCareerExperienced">
						<input type="radio" name="rscareer" id="resumeCareerExperienced" value="경력"
							th:field="*{rscareer}" />
						경력
					</label>
				</p>
			</div>

			<!-- 경력 관련 입력란 (기본적으로는 숨김) -->
			<div id="careerDetails" style="display: none;">
				<table>
					<tr>
						<td>회사명</td>
						<td><input type="text" id="rscompany" th:field="*{rscompany}" onchange="printCareer()" /></td>
					</tr>
					<tr>
						<td>근무 기간</td>
						<td>
							<input type="date" id="rsworkstart" th:field="*{rsworkstart}" />
							<input type="date" id="rsworkend" th:field="*{rsworkend}" />
						</td>
					</tr>
					<tr>
						<td>담당 업무</td>
						<td><textarea id="rswork" th:field="*{rswork}" rows="4" cols="50" onchange="printCareer()" />
						</td>
					</tr>
				</table>
			</div>
			<div id="careerDetailsOutput" style="display: none; ">
				<h3>경력 정보</h3>
				<p><strong>회사명:</strong> <span th:text="${soloResumeDTO.rscompany}"></span></p>
				<p><strong>근무 기간:</strong> <span th:text="${soloResumeDTO.rsworkstart}" /><span
						th:text="${soloResumeDTO.rsworkend}" /></p>
				<p><strong>담당 업무:</strong> <span th:text="${soloResumeDTO.rswork}"></span></p>
			</div>
			<!-- 학력 -->
			<div style="border: 1px solid #ccc; width:500px;">
				<p>학력</p>
				<select th:field="*{rsacademic}">
					<option value="">학교 유형 선택</option>
					<option value="대학원">대학원</option>
					<option value="대학(4년)">대학(4년)</option>
					<option value="대학(2, 3년)">대학(2, 3년)</option>
					<option value="고등학교">고등학교</option>
					<option value="중학교">중학교</option>
					<option value="초등학교">초등학교</option>
				</select>
				<select th:field="*{rsacademicstat}">
					<option value="">학력 상태</option>
					<option value="졸업">졸업</option>
					<option value="재학중">재학중</option>
					<option value="휴학중">휴학중</option>
					<option value="중퇴">중퇴</option>
					<option value="수료">수료</option>
					<option value="검정고시">검정고시</option>
					<option value="수료">수료</option>
				</select>
			</div>
			<!-- 자기소개 -->
			<div style="border: 1px solid #ccc; width:500px;">
				<p>
					<button onclick="showForm()" class="btn_show" id="show">+</button>자기소개서
				</p>
				<p id="introduce" style="display:none;"><textarea name="rsintroduce" rows="4" cols="50"
						th:field="*{rsintroduce}"></textarea></p>
				<button onclick="hideForm()" class="btn_hide" id="hide" style="display:none;">-</button>
			</div>
			<!-- 자격증 -->
			<div style="border: 1px solid #ccc; width: 500px;">
				<p>
					<button onclick="showLicense()" class="btn_show" id="showli">+</button>자격증
				</p>
				<table id="license" style="display:none;">
					<tr>
						<td>자격증명</td>
						<td><input type="text" th:field="*{rslicense}" /></td>
					</tr>
					<tr>
						<td>발행기관</td>
						<td><input type="text" th:field="*{rslicenseorg}" placeholder="발행기관" /></td>
						<td>발행년도</td>
						<td><input type="date" id="rslicenseyear" th:field="*{rslicenseyear}" placeholder="발행년도" /></td>
					</tr>
				</table>
				<button onclick="hideLicense()" class="btn_hide" id="hideli" style="display:none;">-</button>
			</div>
			<!-- 어학 능력 -->
			<div style="border: 1px solid #ccc; width:500px;">
				<p>
					<button onclick="showLanguage()" class="btn_show" id="showlg">+</button>어학 능력
				</p>
				<table id="language" style="display:none;">
					<tr>
						<td>어학명</td>
						<td>
							<select th:field="*{rslanguage}">
								<option value="">어학명</option>
								<option value="그리스어">그리스어</option>
								<option value="네덜란드어">네덜란드어</option>
								<option value="노르웨이어">노르웨이어</option>
								<option value="독일어">독일어</option>
								<option value="러시아어">러시아어</option>
								<option value="몽골어">몽골어</option>
								<option value="미얀마어">미얀마어</option>
								<option value="베트남어">베트남어</option>
								<option value="스웨덴어">스웨덴어</option>
								<option value="스페인어">스페인어</option>
								<option value="아랍어">아랍어</option>
								<option value="영어">영어</option>
								<option value="이탈리아어">이탈리아어</option>
								<option value="일본어">일본어</option>
								<option value="중국어">중국어</option>
								<option value="태국어">태국어</option>
								<option value="터키어">터키어</option>
								<option value="포르투갈어">포르투갈어</option>
								<option value="폴란드어">폴란드어</option>
								<option value="프랑스어">프랑스어</option>
								<option value="히브리어">히브리어</option>
								<option value="힌디어">힌디어</option>
								<option value="기타">기타</option>
							</select>
						</td>
						<td>어학수준</td>
						<td>
							<select th:field="*{rslanguagelevel}">
								<option value="">어학수준</option>
								<option value="회화 능숙">회화 능숙</option>
								<option value="일상 대화">일상 대화</option>
								<option value="간단 대화">간단 대화</option>
							</select>
						</td>
					</tr>
				</table>
				<button onclick="hideLanguage()" class="btn_hide" id="hidelg" style="display:none;">-</button>
			</div>
			<!-- 저장 -->
			<div>
				<input type="submit" value="저장" />
			</div>
		</div>
	</form>
	<a href="javascript:goBack()">이전 페이지</a>
</body>

</html>