<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>관리자 페이지</title>
<style>
	table tr td{
		padding-right: 20px;
		
	}
	
</style>

</head>
<body>
	<h1>관리자 페이제</h1>
	<table border="">
		<tr >
			<td> <a href="/admin_cs/admin_customer">고객지원</a></td>
			<td> <a href="/admin_company/cmanagement"> 기업관리</a></td>
			<td> <a href="/admin_solo/smanagement"> 개인회원</a></td>
			<td> <a href="/admin_product/pmanagement">상품관리</a></td>
			<td> <a href="/admin_recruit/rmanagement">채용관리</a></td>
		</tr>
	</table>
</body>
</html>