<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>board/detail</title>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/notice/notice.css}">
</head>
<script>
      function goBack() {
         window.history.back();
      }
</script>
<body>
   <header>
      <div th:insert="~{header :: header}"></div>
   </header>
    <a href="javascript:goBack()">뒤로</a>
    
<h2 style="text-align: center;">㈜오왕의 <br>공지사항을 알려드립니다.</h2>
<div id="detail_wrap">
   <table border="" class="detail_table">
      <!--<tr>
         <td>id</td><td th:text="${ndto.id}"/>
      </tr>-->
      <tr>
         <th >제목</th><td th:text="${ndto.title}" id="detail_title"/>
      </tr><tr>
         <th>작성자</th><td th:text="${ndto.pname}" id="detail_pname"/>
      </tr><tr>
         <th>등록일</th><td th:text="${#dates.format(ndto.regDate, 'yyyy-MM-dd')}" id="detail_reg"/>
      </tr><tr>
         <th>조회수</th><td th:text="${ndto.cnt}" id="detail_cnt"/>
      </tr>
      
      <tr th:if="${ndto.upfile != null}">
          <th>사진</th>
          <td>
              <img th:if="${ndto.img}" th:src="|/up/${ndto.upfile}|"/ id="detail_img">
              <a th:unless="${ndto.img}" th:text="${ndto.upfile}"></a>
          </td>
      </tr>
      
      <tr>
         <th>내용</th><td th:text="${ndto.content}"/>
      </tr><tr>
         <td colspan="2" align="right">
            <!--공지사항 수정,삭제는 오직 관리자만!-->
            <a th:href="|/notice/delete/${ndto.page}/${ndto.id}|" th:if="${session.adminSession}" id="detail_del">삭제</a>
            <a th:href="|/notice/modify/${ndto.page}/${ndto.id}|" th:if="${session.adminSession}" id="detail_modi">수정</a>
            <a th:href="|/notice/notice/${ndto.page}|" id="detail_list">목록</a>
        </td>
            
         
      </tr>
   </table>
 </div>
   
   <footer>
       <div th:insert="~{footer :: footer}"></div>
    </footer>
    
    
</body>
</html>