<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/css.css}">
</head>
<script>
      function goBack() {
         window.history.back();
      }
</script>
<style>
h4,.notice_title{text-align: center;}	
</style>

<body>
	
	<header>
		<div th:insert="~{header :: header}"></div>
	</header>
    
	
	<h4>notice / list</h4><br/>
	
	
	<div class="notice_title">
            <strong>공지사항</strong>
        </div>
        
	<hr>
	<table border="">
    <div class="notice_wrap">
        

        <div class="notice_list_wrap">

            <div class="notice_list">
                <tr>
					<td>번호</td>
					<td>제목</td>
					<td>작성자</td>
					<td>등록일</td>
					<td>조회수</td>
				</tr>
                
                <tr th:each="ndto, dtoStat : ${mainData}">
					<td th:text="${dtoStat.count + noticeDTO.start}"/>
					<td>
						<a th:href="|/notice/detail/${noticeDTO.page}/${ndto.id}|" th:text="${ndto.title}"></a>
					</td>
					<td th:text="${ndto.pname}"/>
					<!--날짜 포맷팅-->
					<td th:text="${#dates.format(ndto.regDate, 'yyyy-MM-dd')}"/>
					<td th:text="${ndto.cnt}"/>
				</tr>
				<tr>
					<td colspan="5" align="center">
				
				<a th:if="${noticeDTO.pageStart > 1}" th:href="${noticeDTO.pageStart - 1}" th:text="'[이전]'"/>		
						
				<th:block th:each="no: ${#numbers.sequence(noticeDTO.pageStart, noticeDTO.pageEnd)}" >
					
					<span th:if="${no==noticeDTO.page}" th:text="${no}"/>
					<a th:unless="${no==noticeDTO.page}" th:href="${no}" th:text="${no}"/>
				</th:block>
				<a th:if="${noticeDTO.pageEnd < noticeDTO.pageTotal}" th:href="${noticeDTO.pageEnd + 1}" th:text="'[다음]'"/>
					</td>
				</tr>
				<tr>
					<td colspan="5" align="right">
						<!--관리자일때만 공지사항 작성 가능-->
						<a th:href="|/notice/insert/${noticeDTO.page}|"th:if="${session.adminSession}">글쓰기</a>
					</td>
				</tr>
            </div>
        </div>
    </div>  
	</table>
	<a href="javascript:goBack()">이전 페이지</a>
</body>
</html>