<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	function fileDelete(){
		frm.action = "/notice/fileDelete"
		frm.submit()
	}
	
</script>
</head>
<body>

<h2> 공지사항 - 수정페이지! </h2>

</body>
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:field="*{page}" />

<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}" /></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<tr>
			<td>파일</td>
			<td>
				<th:block th:if="${dto.upfile != null}">	
				<!--원본-->
				<!--<input type="text" th:field="*{upfile}" readonly/>-->
				<!--hidden으로 수정하더라도 사진은 그대로-->
				<input type="hidden" th:field="*{upfile}" readonly/>
				<input  type="button" onclick="fileDelete()" value="파일삭제"/>
				</th:block>
				<input th:if="${dto.upfile == null}" type="file" th:field="*{noticemmf}"/>
			</td>
		</tr>
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />
				<a th:href="|/notice/detail/${dto.page}/${dto.id}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>






</html>