<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2> 공지사항 - 수정페이지! </h2>

</body>
<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:field="*{page}" />

<table border="">
		<tr>
			<td>제목</td>
			<td><input type="text" th:field="*{title}" /></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td><input type="text" th:field="*{pname}"/></td>
		</tr>
		<tr>
			<!--<td>파일</td>
			<td>
				<th:block th:if="${dto.upfile != null}">
					
				<input type="text" th:field="*{upfile}" readonly/>
				<input  type="button" onclick="fileDelete()" value="파일삭제"/>
				</th:block>
				<input th:if="${dto.upfile == null}" type="file" th:field="*{mmff}"/>
			</td>-->
		</tr>
		<tr>
			<td>내용</td>
			<td><textarea th:field="*{content}" /></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="수정" />
				<a th:href="|/notice/detail/${dto.page}/${dto.id}|" th:text="뒤로"/>
			</td>
		</tr>
	</table>

<!--<form name="frm" method="post" enctype="multipart/form-data" th:object="${dto}">
		<input type="hidden" th:field="*{recruitId}" />
		<input type="hidden" th:field="*{page}" />
		
		<table border="">
			<tr>
				<td>수정-제목</td>
				<td><input type="text" th:field="*{recruitTitle}" required /></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" th:field="*{recruitName}" required /></td>
			</tr>
			<tr>
				<td>파일</td>
				<td><input type="file" th:field="*{mmff}" /></td>
			</tr>
			<select name="마감일" th:field="*{recruitMagam}">
				<option value="7" selected>7일 후</option>
				<option value="30">30일 후</option>
				<option value="300">300일 후</option>
			</select>
			<tr>
				<td>내용</td>
				<td><textarea type="text" th:field="*{recruitContent}" rows="10" cols="30" required /></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="수정" />
					안나옴...그래서 그냥 주석처리함 ㅠㅠㅠ
						<a th:href="|/recruit/list/${recruitDTO.page}|">뒤로가기</a>

						<a th:href="@{'/recruit/list/' + ${dto.page}}">뒤로가기</a>

				</td>

			</tr>
		</table>-->





</html>