<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>기업회원가입 폼</title>
	<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<link rel="stylesheet" th:href="@{/css/join/joincom.css}">
	
	
</head>

<body>
	<header>
		<div th:insert="~{header :: header}"></div>
	</header>
	<div class="container">
		<div class="join">
			<h1><span style="color:#0400B8">기업</span> 회원가입</h1>
			<hr>
			<div>
				<button id="showTermsButton">이용약관 보기</button>
			</div>
			<form method="post" enctype="multipart/form-data" onsubmit="return submitForm();" >
				<div class="showTerm"><label><input type="radio" name="termsAgreement" required>이용약관동의</input>
					</label></div>

				<table border="">
					<tr>
						<th>아이디</th>
						<td><input type="text" name="cid" id="cid" required><input type="button" value="ID 중복체크"
								onclick="checkDuplicateID()">
							<div id="checkcId"></div>
						</td>
					</tr>
					<tr>
						<th>비밀번호1</th>
						<td><input type="password" name="cpw" required></td>
					</tr>
					<tr>
						<th>비밀번호2</th>
						<td><input type="password" name="cpw2" required></td>
					</tr>
					<tr>
						<th>회사명</th>
						<td><input type="text" name="cname" required></td>
					</tr>
					<tr>
						<th>회사로고이미지(필수)</th>
						<td>
							<input type="file" name="lommff" id="lommff" required onchange="lovalidateFile()">
							<div id="fileError" style="color: red;"></div>
						</td>
					</tr>
					<tr>
						<th>개업연월일</th>
						<td><input type="date" name="cbuild" th:max="${today}" required></td>
					</tr>
					<tr>
						<th>업종</th>
						<td><input type="text" name="ccategory" required></td>
					</tr>
					<tr>
						<th>직원수</th>
						<td><input type="number" name="cstaff" required></td>
					</tr>
					<tr>
						<th>1년 매출액(만원기준)</th>
						<td>
							<input type="number" id="csales" name="csales" oninput="updateText(this)" required>
							<span id="csalesText"></span>
						</td>
					</tr>
					<tr>
						<th>회사 전화번호</th>
						<td><input type="text" name="ccall" required></td>
					</tr>
					<tr>
						<th>이메일</th>
						<td><input type="email" name="cemail" required></td>
					</tr>
					<tr>
						<th>대표자</th>
						<td><input type="text" name="cceo" required></td>
					</tr>
					<tr>
						<th>본점소재지</th>
						<td><input type="text" name="caddress" required></td>
					</tr>
					<tr>
						<th>사업자등록증(필수)</th>
						<td>
							<input type="file" name="mmff" id="mmff" required onchange="validateFile()">
							<div id="fileError" style="color: red;"></div>
						</td>
					</tr>
					<tr>
						<th>회사 소개</th>
						<td>
							<textarea name="ccontent" rows="10" cols="50" required placeholder="ex) TNH는 2007년 창업이후 병.의원용 CRM솔루션 및 EMR 소프트웨어 개발을 시작으로 의료마케팅과 전자의무기록 시스템의 혁신을 위해 끊임없이 도전해 왔습니다.

TNH는 탁월한 개발자, 마케팅 전문가와 의료인 자문단이 주축이된 의료 소프트웨어 전문기업입니다.
2008년 온라인 기반의 혁신적이고 편리한 환자관리용 매니저 솔루션 및 2010년 업계최초 온/오프라인 연동형 전자의무기록을 탄생 시켰습니다.

TNH는 새로운 10년을 위해 솔루션 및 서비스를 고객 및 사용자 관점에서 혁신을 하고자 하며, 이를 위해 같이 동행할 능력있는 신입/경력 Front-End 개발자 분들을 찾고 있습니다."></textarea>
						</td>
					</tr>
					<tr>
						<th>복지 및 해택</th>
						<td>
							<textarea name="cwelfare" rows="10" cols="50" required placeholder="ex) • 지원금/보험 : 각종 경조사 지원
• 급여제도 : 퇴직금, 4대 보험
• 선물 : 명절선물/귀향비, 생일선물/파티
• 교육/생활 : 우수사원시상식, 워크샵, 플레이샵, 도서구입비지원, 점심, 저녁식사 제공, 음료제공(차, 커피)
• 근무 환경 : 회의실, 공기청정기
• 조직문화 : 자유복장
• 리프레시 : 연차, 경조휴가제, 근로자의 날 휴무, 휴가비지원
• 중식지원"></textarea>
						</td>
					</tr>
				</table>
				<div align="middle">
					<input type="submit" value="가입">
				</div>

			</form>

			<script>
			  
				
				function updateText(input) {
					var csalesText = document.getElementById("csalesText");
					var value = input.value;

					if (!isNaN(value) && value !== "") {
						csalesText.innerText = value + "0000원";
					} else {
						csalesText.innerText = "null";
					}
				}

				function checkDuplicateID() {

					var cid = document.getElementById("cid").value;

					$.ajax({
						type: "POST",
						url: "/join/checkcId",
						data: "cid=" + cid,
						error: function (response) {
							$("#checkcId").text("실패");
						},
						success: function (response) {
							if (response === "중복") {
								$("#checkcId").text("이미 사용 중인 ID입니다.");

							} else {
								$("#checkcId").text("사용 가능한 ID입니다.");
							}
						}
					});
				}
			
				document.getElementById('showTermsButton').addEventListener('click', function () {
					// 이용약관 페이지를 팝업 창으로 엽니다.
					var popup = window.open('cterms.html', '이용약관', 'width=600,height=400');

					// 팝업 창이 차단되지 않도록 팝업 창 객체를 검사합니다.
					if (popup && !popup.closed) {
						// 팝업 창이 열려 있으면 포커스를 설정합니다.
						popup.focus();
					} else {
						alert('팝업 창을 열 수 없습니다. 팝업 창이 차단되었을 수 있습니다.');
					}
				});
				function validateFile() {
					var mmffInput = document.getElementById("mmff");
					var fileError = document.getElementById("fileError");
					var fileName = mmffInput.value;
					var allowedExtensions = ["jpg", "png"];

					if (fileName === "") {
						// 파일이 선택되지 않은 경우
						fileError.innerText = "파일을 선택하세요.";
						mmffInput.value = ""; // 파일 입력란 초기화
					} else {
						var fileExtension = fileName.split('.').pop().toLowerCase();

						if (allowedExtensions.indexOf(fileExtension) === -1) {
							// 파일 확장자가 허용되지 않는 경우
							mmffInput.value = ""; // 파일 입력란 초기화
							fileError.innerText = "지원되지 않는 파일 유형입니다. JPG 또는 PNG 파일을 업로드하세요.";
						} else {
							fileError.innerText = ""; // 오류 메시지 초기화
						}
					}
				}
				function lovalidateFile() {
					var lommffInput = document.getElementById("lommff");
					var fileError = document.getElementById("fileError");
					var fileName = lommffInput.value;
					var allowedExtensions = ["jpg", "png"];

					if (fileName === "") {
						// 파일이 선택되지 않은 경우
						fileError.innerText = "파일을 선택하세요.";
						lommffInput.value = ""; // 파일 입력란 초기화
					} else {
						var fileExtension = fileName.split('.').pop().toLowerCase();

						if (allowedExtensions.indexOf(fileExtension) === -1) {
							// 파일 확장자가 허용되지 않는 경우
							lommffInput.value = ""; // 파일 입력란 초기화
							fileError.innerText = "지원되지 않는 파일 유형입니다. JPG 또는 PNG 파일을 업로드하세요.";
						} else {
							fileError.innerText = ""; // 오류 메시지 초기화
						}
					}
				}
				///////////////////
				
	 	function validateID() {
            var cidInput = document.getElementById("cid").value;
            
            var cidPattern = /^[a-zA-Z]{6,18}$/; // 6자 이상 13자 이하의 알파벳만 허용

            if (!cidPattern.test(cidInput)) {
                alert("아이디는 6자 이상 13자 이하의 알파벳만 허용합니다.");
                
                return false;
            }

            return true;
        }

        // 비밀번호 유효성 검사
        function validatePassword() {
            var cpwInput = document.getElementById("cpw").value;
            var confirmPassword = document.getElementById("cpw2").value;
            var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

            if (!passwordPattern.test(cpwInput)) {
                alert("비밀번호는 최소 8글자 이상이어야 하며, 특수문자, 영어 소문자, 대문자, 숫자가 각각 하나 이상 포함되어야 합니다.");
                
                return false;
            }
            
             if (cpwInput != cpw2Value) {
                alert("비밀번호가 일치하지 않습니다.");
                
                
                return false;
            }

            return true;
        }

       

        // 전화번호 유효성 검사
        function validatePhoneNumber() {
            var ccallInput = document.getElementById("ccall");
            var ccallValue = ccallInput.value;
            var phoneNumberPattern = /^(\d{3}-\d{3}-\d{4}|\d{10})$/; // xxx-xxx-xxxx 또는 xxxxxxxxxx 형식

            if (!phoneNumberPattern.test(ccallValue)) {
                alert("올바른 전화번호 형식이 아닙니다. xxx-xxx-xxxx 또는 xxxxxxxxxx 형식으로 입력하세요.");
                ccallInput.value = "";
                return false;
            }

            return true;
        }

  
        
        

        function updateText(input) {
            var csalesText = document.getElementById("csalesText");
            var value = input.value;

            if (!isNaN(value) && value !== "") {
                csalesText.innerText = value + "0000원";
            } else {
                csalesText.innerText = "null";
            }
        }

        function checkDuplicateID() {
            var cid = document.getElementById("cid").value;

            $.ajax({
                type: "POST",
                url: "/join/checkcId",
                data: "cid=" + cid,
                error: function (response) {
                    $("#checkcId").text("실패");
                },
                success: function (response) {
                    if (response === "중복") {
                        $("#checkcId").text("이미 사용 중인 ID입니다.");
                    } else {
                        $("#checkcId").text("사용 가능한 ID입니다.");
                    }
                }
            });
        }
		 function submitForm() {
			    
			    
			    
			    var checkcId = document.getElementById("checkcId").innerText;
			
			    if (validateID() && validatePassword() && validatePhoneNumber() && checkcId === "사용 가능한 ID입니다.") {
			        return true; // 양식 제출 방지
			    } else {
			        return false; // 양식 제출 허용
			    }
			}

        function validateFile() {
            var mmffInput = document.getElementById("mmff");
            var fileError = document.getElementById("fileError");
            var fileName = mmffInput.value;
            var allowedExtensions = ["jpg", "png"];

            if (fileName === "") {
                // 파일이 선택되지 않은 경우
                fileError.innerText = "파일을 선택하세요.";
                mmffInput.value = ""; // 파일 입력란 초기화
            } else {
                var fileExtension = fileName.split('.').pop().toLowerCase();

                if (allowedExtensions.indexOf(fileExtension) === -1) {
                    // 파일 확장자가 허용되지 않는 경우
                    mmffInput.value = ""; // 파일 입력란 초기화
                    fileError.innerText = "지원되지 않는 파일 유형입니다. JPG 또는 PNG 파일을 업로드하세요.";
                } else {
                    fileError.innerText = ""; // 오류 메시지 초기화
                }
            }
        }

        function lovalidateFile() {
            var lommffInput = document.getElementById("lommff");
            var fileError = document.getElementById("fileError");
            var fileName = lommffInput.value;
            var allowedExtensions = ["jpg", "png"];

            if (fileName === "") {
                // 파일이 선택되지 않은 경우
                fileError.innerText = "파일을 선택하세요.";
                lommffInput.value = ""; // 파일 입력란 초기화
            } else {
                var fileExtension = fileName.split('.').pop().toLowerCase();

                if (allowedExtensions.indexOf(fileExtension) === -1) {
                    // 파일 확장자가 허용되지 않는 경우
                    lommffInput.value = ""; // 파일 입력란 초기화
                    fileError.innerText = "지원되지 않는 파일 유형입니다. JPG 또는 PNG 파일을 업로드하세요.";
                } else {
                    fileError.innerText = ""; // 오류 메시지 초기화
                }
            }
        }

				 	

</script>
</body>

</html>